# Food Nutrition Dataset

This dataset provides comprehensive information about various food items and their nutritional attributes. It is a valuable resource for nutritionists, dietitians, researchers, and anyone interested in exploring the nutritional content of different foods. The data was collected from various sources and includes details such as food name, serving size, calories, macronutrients (carbohydrates, proteins, and fats), micronutrients (vitamins and minerals), and other nutritional information.

## Dataset Overview

- **Data Source**: [Kaggle - Food Nutrition Dataset](https://www.kaggle.com/datasets/shrutisaxena/food-nutrition-dataset?resource=download&select=food.csv)
- **Number of Records**: 14,826
- **File Format**: CSV

## Columns

The dataset contains the following columns:

1. **Food Name**: The name of the food item.
2. **Serving Size**: The recommended serving size for the food item.
3. **Calories**: The number of calories in the specified serving size.
4. **Carbohydrates (g)**: The amount of carbohydrates in grams.
5. **Proteins (g)**: The amount of proteins in grams.
6. **Fats (g)**: The amount of fats in grams.
7. **Fiber (g)**: The dietary fiber content in grams.
8. **Sugar (g)**: The amount of sugar in grams.
9. **Vitamin A (IU)**: The amount of Vitamin A in International Units (IU).
10. **Vitamin C (mg)**: The amount of Vitamin C in milligrams (mg).
11. **Calcium (mg)**: The amount of calcium in milligrams (mg).
12. **Iron (mg)**: The amount of iron in milligrams (mg).
13. **Potassium (mg)**: The amount of potassium in milligrams (mg).
14. and more...

## Usage

This dataset can be used for a variety of purposes, including but not limited to:

- Analyzing the nutritional content of different foods.
- Creating diet plans and meal recommendations.
- Exploring correlations between nutrients in various food items.
- Conducting research in the field of nutrition and health.
- Developing machine learning models for predicting nutritional values based on food characteristics.

In [12]:
# Importing the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [13]:
#Reading the file into a dataframe and viewing the first few rows
df = pd.read_csv('food.csv')
df.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Ash,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,BUTTER,"BUTTER,WITH SALT",1001,0,2.11,158,0,0.06,215,19,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0,2.11,158,0,0.06,219,19,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0,0.00,193,0,0.00,256,22,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,0,5.11,74,0,2.34,75,15,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,0,3.18,76,0,2.79,94,15,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5

In [14]:
#Viewing last few rows in file
df.tail()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Ash,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
14821,FROG LEGS,"FROG LEGS,RAW",80200,0,1.40,0,0,0.0,50,65,...,285,58,1.0,50,15,0.4,0.12,0.0,1.00,0.1
14822,MACKEREL,"MACKEREL,SALTED",83110,0,13.40,0,0,0.0,95,95,...,520,4450,1.1,157,47,12.0,0.41,0.0,2.38,7.8
14823,SCALLOP,"SCALLOP,(BAY&SEA),CKD,STMD",90240,0,3.06,0,0,0.0,53,81,...,476,265,3.0,100,30,1.3,0.10,0.0,1.50,0.2
14824,SNAIL,"SNAIL,RAW",90560,0,1.30,0,0,2.0,50,65,...,382,70,1.0,100,30,0.5,0.13,0.0,5.00,0.1
14825,TURTLE,"TURTLE,GREEN,RAW",93600,0,1.20,0,0,0.0,50,65,...,230,68,1.0,100,30,1.0,0.12,0.0,0.50,0.1

## Dataset Drilldown
Each row represents a food type; the *Description* column contains a breakdown of the few ingredients that comprise the dish or food as well as details of how it was prepared. It's columns are shown in the cell below:

In [15]:
#Show the columns and data types in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14826 entries, 0 to 14825
Data columns (total 48 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Category                                                 14826 non-null  object
 1   Description                                              14826 non-null  object
 2   Nutrient Data Bank Number                                14826 non-null  int64
 3   Data.Alpha Carotene                                      14826 non-null  int64
 4   Data.Ash                                                 14826 non-null  float64
 5   Data.Beta Carotene                                       14826 non-null  int64
 6   Data.Beta Cryptoxanthin                                  14826 non-null  int64
 7   Data.Carbohydrate                                        14826 non-null  float64
 8   Data.Cholesterol                                         14826 non-null  int64
 9   Data.Choline                                             14826 non-null  int64
 10  Data.Fiber                                               14826 non-null  float64
 11  Data.Kilocalories                                        14826 non-null  int64
 12  Data.Lutein and Zeaxanthin                               14826 non-null  int64
 13  Data.Lycopene                                            14826 non-null  int64
 14  Data.Manganese                                           14826 non-null  float64
 15  Data.Niacin                                              14826 non-null  float64
 16  Data.Pantothenic Acid                                    14826 non-null  float64
 17  Data.Protein                                             14826 non-null  float64
 18  Data.Refuse Percentage                                   14826 non-null  int64
 19  Data.Retinol                                             14826 non-null  int64
 20  Data.Riboflavin                                          14826 non-null  float64
 21  Data.Selenium                                            14826 non-null  float64
 22  Data.Sugar Total                                         14826 non-null  float64
 23  Data.Thiamin                                             14826 non-null  float64
 24  Data.Water                                               14826 non-null  float64
 25  Data.Fat.Monosaturated Fat                               14826 non-null  float64
 26  Data.Fat.Polysaturated Fat                               14826 non-null  float64
 27  Data.Fat.Saturated Fat                                   14826 non-null  float64
 28  Data.Fat.Total Lipid                                     14826 non-null  float64
 29  Data.Household Weights.1st Household Weight              14826 non-null  float64
 30  Data.Household Weights.1st Household Weight Description  13886 non-null  object
 31  Data.Household Weights.2nd Household Weight              14826 non-null  int64
 32  Data.Household Weights.2nd Household Weight Description  8626 non-null   object
 33  Data.Major Minerals.Calcium                              14826 non-null  int64
 34  Data.Major Minerals.Copper                               14826 non-null  float64
 35  Data.Major Minerals.Iron                                 14826 non-null  float64
 36  Data.Major Minerals.Magnesium                            14826 non-null  int64
 37  Data.Major Minerals.Phosphorus                           14826 non-null  int64
 38  Data.Major Minerals.Potassium                            14826 non-null  int64
 39  Data.Major Minerals.Sodium                               14826 non-null  int64
 40  Data.Major Minerals.Zinc                                 14826 non-null  float64
 41  Data.Vitamins.Vitamin A - IU                             14826 non-null  int64
 42  Data.Vitamins.Vitamin A - RAE                            14826 non-null  int64
 43  Data.Vitamins.Vitamin B12                                14826 non-null  float64
 44  Data.Vitamins.Vitamin B6                                 14826 non-null  float64
 45  Data.Vitamins.Vitamin C                                  14826 non-null  float64
 46  Data.Vitamins.Vitamin E                                  14826 non-null  float64
 47  Data.Vitamins.Vitamin K                                  14826 non-null  float64
dtypes: float64(25), int64(19), object(4)
memory usage: 5.4+ MB

In [16]:
# Loop through columns and remove redundant 'Data.' from column names
for col in df.columns:
    new_col = col.replace('Data.', '')  # Remove 'Data.' from the column name
    df.rename(columns={col: new_col}, inplace=True)  # Rename the column name in dataframe

In [17]:
# Checking if any data is missing and sorting by missing values
df.isnull().sum().sort_values(ascending=False)

Household Weights.2nd Household Weight Description    6200
Household Weights.1st Household Weight Description     940
Category                                                 0
Description                                              0
Fat.Polysaturated Fat                                    0
Fat.Saturated Fat                                        0
Fat.Total Lipid                                          0
Household Weights.1st Household Weight                   0
Household Weights.2nd Household Weight                   0
Major Minerals.Calcium                                   0
Major Minerals.Copper                                    0
Major Minerals.Iron                                      0
Major Minerals.Magnesium                                 0
Major Minerals.Phosphorus                                0
Major Minerals.Potassium                                 0
Major Minerals.Sodium                                    0
Major Minerals.Zinc                                      0
Vitamins.Vitamin A - IU                                  0
Vitamins.Vitamin A - RAE                                 0
Vitamins.Vitamin B12                                     0
Vitamins.Vitamin B6                                      0
Vitamins.Vitamin C                                       0
Vitamins.Vitamin E                                       0
Fat.Monosaturated Fat                                    0
Water                                                    0
Thiamin                                                  0
Kilocalories                                             0
Nutrient Data Bank Number                                0
Alpha Carotene                                           0
Ash                                                      0
Beta Carotene                                            0
Beta Cryptoxanthin                                       0
Carbohydrate                                             0
Cholesterol                                              0
Choline                                                  0
Fiber                                                    0
Lutein and Zeaxanthin                                    0
Sugar Total                                              0
Lycopene                                                 0
Manganese                                                0
Niacin                                                   0
Pantothenic Acid                                         0
Protein                                                  0
Refuse Percentage                                        0
Retinol                                                  0
Riboflavin                                               0
Selenium                                                 0
Vitamins.Vitamin K                                       0
dtype: int64

## Acknowledgements

I would like to thank [Shruti Saxena](https://www.kaggle.com/shrutisaxena) for sharing this dataset on Kaggle.